/*-- scss:defaults --*/

/*-- scss:rules --*/
.callout.solution {
    margin-bottom: 5px !important;
}

.callout.callout-style-default .callout-body {
    font-size: 0.95rem;
    font-weight: 400;
}

.callout.callout-style-default>div.callout-header {
    font-size: 1.1rem;
}

.theorem.example {
    border-left-color: var(--bs-pink) !important;
    padding: 0.4em 0.7em;
    border-left: 5px solid;
    border-right: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0.25rem;
    margin-bottom: 1em;
}

.theorem.definition {
    padding: 0.4em 0.7em;
    border-left: 5px solid;
    border-right: 1px solid #dee2e6;
    border-top: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
    border-radius: 0.25rem;
    margin-bottom: 1em;
}